{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ["*.vue", "*.html"],
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
